altair==4.1.0
backports.zoneinfo==0.2.1
base58==2.1.0
certifi==2020.6.20
gitdb==4.0.7
GitPython==3.1.24
Keras==2.4.3
protobuf==3.18.1
pyarrow==5.0.0
pydeck==0.7.0
pytz-deprecation-shim==0.1.0.post0
smmap==4.0.0
streamlit==1.1.0
toml==0.10.2
toolz==0.11.1
typing-extensions==3.10.0.2
tzdata==2021.4
tzlocal==4.0.1
validators==0.18.2
watchdog==2.1.6